.Main_content {
  width: 100%;
  padding: 0px 0 14px;
}

.Main_content .buttonTOp {
  display: block;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 16;
}

.Main_content .Main_content_navul {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  border-bottom: 5px solid gainsboro;
}

.Main_content .Main_content_navul li {
  width: 25%;
  text-align: center;
  margin-top: 20px;
}

.Main_content .Main_content_navul li img {
  width: 55px;
  margin: auto;
}

.Main_content .Main_content_navul li span {
  display: block;
  font-size: 13px;
  width: 78px;
  margin: 10px auto;
}

.Main_content .tuijian {
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;
}

.Main_content .tuijian h3 {
  font-size: 16px;
  padding: 30px 0 20px;
}

.Main_content .tuijian .tuijian_nav {
  overflow: auto;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  position: relative;
}

.Main_content .tuijian .tuijian_nav::-webkit-scrollbar {
  display: none;
}

.Main_content .tuijian .tuijian_nav .items {
  white-space: nowrap;
  flex-shrink: 0;
  width: 120px;
  height: 65px;
  position: relative;
  margin: 12px 0 16px;
  padding-left: 16px;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 20px;
  box-shadow: 1px 1px 10px #969494;
}

.Main_content .tuijian .tuijian_nav .items span:nth-of-type(1) {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  font-weight: bold;
}

.Main_content .tuijian .tuijian_nav .items span:nth-of-type(2) {
  display: block;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.Main_content .tuijian .tuijian_nav .items .round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  background-color: red;
  bottom: -25px;
  right: -25px;
  z-index: -1;
}
